<configuration>
  <system.webServer>
    <handlers>
      <add name="node" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?$" />
          <action type="Rewrite" url="https://walletwatch-gacbfpg5b4csc4g5.westus-01.azurewebsites.net/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
