<configuration>
  <system.webServer>
    <handlers>
      <!-- Maps all requests to the node.js app -->
      <add name="iisnode" path="App.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect to the index file -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="AppServer.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Specify the node.js version -->
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>
</configuration>
