<configuration>
  <system.webServer>
    <handlers>
      <!-- Map all requests to the node.js app -->
      <add name="iisnode" path="AppServer.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rewrite non-static requests to AppServer.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="AppServer.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Specify the Node.js executable path -->
    <httpPlatform processPath="C:\Program Files\nodejs\node.exe" arguments="AppServer.js" stdoutLogEnabled="true" stdoutLogFile=".\logs\iisnode.log" />
  </system.webServer>
</configuration>
