<div class="profile-container">
  <h1 class="profile-title">My Profile</h1>
  <div class="profile-card">
    <img class="profile-avatar" src="{{user.picture}}" alt="User Avatar" />
    <div class="profile-info">
      <h2 class="profile-label">Username:</h2>
      <h2 class="profile-name">{{ user.displayName }}</h2>

      <h2 class="profile-label">User ID:</h2><h2 class="profile-name">{{ user.userId }}</h2>
      

      <h2 class="profile-label">Email:</h2>
      <h2 class="profile-name">{{ user.email }}</h2>

      <button class="edit-btn">Edit Profile</button>
    </div>
  </div>
</div>
