.bt-body {
    background-color: rgb(122, 89, 95);
    color: green;
}
ul {
    color: white;
}

mat-toolbar {
    height: 120px;
    background-color: #CC5500;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;  
    padding: 20px;
}

.navbar-nav .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }